@import '../../styles/colours';
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Monoton&display=swap');

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 4px;
}

.image {

}

.title {
  display: flex;
  font-size: 30px;
  font-family: Monoton, sans-serif;
  color: white;
  text-shadow: #FC0 1px 0 10px;
}

@media (max-width: 768px) {
  .title {
    display: none;
  }
}

