.wrapper {
  display: flex;
  gap: 1.5rem;
  background-color: #1c1c1c;
  color: #ffffff;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  min-height: 600px;
  justify-content: center;
}

.content {
  display: flex;
  max-width: 800px;
  gap: 1.5rem;
  justify-content: space-between;
  margin-top: 30px;
}

.image {
  border-radius: 8px;
}

.skeleton {
  background-color: #434242;
}

.detailsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.titleWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  gap: 10px;
  flex-direction: column;
}

.title {
  max-width: 300px;
}

.rating {
  display: flex;
  align-items: center;
}

.detailRow {
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
  color: #b3b3b3;
  margin-bottom: 0.5rem;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  max-width: 300px;
  flex-wrap: wrap;
}

.detail {
  font-size: 0.9rem;
  color: #d1d1d1;
  text-align: left;
  max-width: 300px;
}


@media (max-width: 768px) {
  .wrapper .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .titleWrapper {
    flex-direction: column;
    align-items: center;
  }

  .detailRow {
    justify-content: center;
  }
}
