.page {
  min-height: 100svh;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background-color: #1f1f1f;
  min-height: 600px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
}

.content {
  width: 100%;
  display: flex;
}
