.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 160px 20px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 160px 40px;
  font-size: 30px;
  color: white;
  font-weight: bold;
}